<h1>
  add product
</h1>
<form action="/merchant-home/<%=id%>/add-product" method="post">
  <input type="text" placeholder="product-name" name="productName" value="">
  <input type="text" placeholder="product-price" name="productPrice" value="">
  <input type="text" placeholder="product-stock " name="productStock" value="">
  <button type="submit" name="button" value="Add">Add</button>
</form>
