<h1>buy-product</h1>

<form  action="/customer-home/<%=id%>/buy-product/<%= product._id %>" method="post">
  <p><%=product.productName%></p>
  <p><%=product.productPrice %></p>
  <button type="post" name="button">Buy</button>
</form>
