<h1>Merchant logged in</h1>
<a href="/merchant-home/<%=id%>/add-product"><button type="button" name="button">Add product</button></a>
<a href="/merchant-home/<%=id%>/orders"><button type="button" name="button">Orders</button></a>
