
  <%if(user === "merchant"){%>
    <table>
 <tr>
  <th>Order id</th>
   <th>Customer id</th>
   <th>Dispatched</th>
 </tr>

<% orders.forEach((order) => { %>
  <tr>
    
    <td><%= order.order_id %></td>
    <td><%=order.item %></td>
    <td><button>Dispatch</button></td>
  </tr>

<% }) %>
</table>
<%}%>


  <%if(user === "customer"){%>
    <table>
    <tr>
      <th>Order id</th>
      <th>Order name</th>
      <th>Status</th>
    </tr>

   <% orders.forEach((order) => { %>
     <tr>
       <td><%= order.order_id %></td>
       <td><%=order.item %></td>
       <td>Accepted</td>
     </tr>
<%  })%>
</table>
<%}%>
