

<form action="/sign-up/<%=user%>" method="post">
  <input type="text" name="username" placeholder="username" value="">
  <input type="password" name="password" placeholder="password" value="">
  
  <button type="submit" name="button">Sign up</button>
</form>
